<h1><%= @user.name %>'s Collection</h1>

<%= for collection <- @collection do %>
    <h3><%= collection.name %></h3>
    <p><%= collection.publisher %></p>
<% end %>

<p>Games in collection: <%= length(@collection) %></p>
