<div>
    <h1><%= @game.name %></h1>
    <h3><%= @game.publisher %></h3>
    <img src="<%= @game.cover_art_url %>" />
</div>

<a href="<%= Routes.collection_path(@conn, :index) %>">Show all games</a>
