/* This file is for your main application css. */
// @import "./phoenix.css";

body {
  font-family: Varela Round;
  background-color: #F5F5F5;
}

.header-container {
  display: flex;
  margin-left: auto;
}

.game-header {
  background-color: #4682B4;
  color: #FFFAFA;
  padding: 15px;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.game-component {
  flex-basis: auto;
  flex-grow: 1;

  display: flex;
  padding: 20px;
  margin: 10px;

  background-color: #FFFFF0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

.game-container {
  background-color: #F0F0F0;
}

.cover-art {
  width: 300px;
}

.game-row {
  display: flex;
}

.image-section {
  flex: 2;
}

.info-section {
  flex: 1;
}

.game-title {
  text-decoration-style: wavy;
  text-decoration-thickness: 3px;
  //font-weight: bold;
}

.console-name {
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
