<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>VideoGameCollection · Phoenix Framework</title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")} />
  </head>
  <body>
    <header>
      <section class="container">
        <div class="header-container">
          <h1>Dem Vidyas</h1>
          <nav role="navigation">
            <ul>
              <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
              <% end %>
              <li><%= link "Chat", to: Routes.live_path(@conn, VideoGameCollectionWeb.ChatLive) %></li>
              <%= if is_signed_in?(@conn) do %>
                  <li><%= link "Sign out", to: Routes.session_path(@conn, :delete), method: :delete %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
